<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="message">
      <h2 data-cy="messageDetailsHeading"><span>Message</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ message.id }}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
          <span>{{ message.content }}</span>
        </dd>
        <dt><span>Sent Time</span></dt>
        <dd>
          <span>{{ message.sentTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ message.status }}</span>
        </dd>
        <dt><span>Has Attachment</span></dt>
        <dd>
          <span>{{ message.hasAttachment }}</span>
        </dd>
        <dt><span>Is Pinned</span></dt>
        <dd>
          <span>{{ message.isPinned }}</span>
        </dd>
        <dt><span>Attachment</span></dt>
        <dd>
          <div *ngIf="message.attachment">
            <a [routerLink]="['/attachment', message.attachment.id, 'view']">{{ message.attachment.id }}</a>
          </div>
        </dd>
        <dt><span>Application User</span></dt>
        <dd>
          <div *ngIf="message.applicationUser">
            <a [routerLink]="['/application-user', message.applicationUser.id, 'view']">{{ message.applicationUser.id }}</a>
          </div>
        </dd>
        <dt><span>Session</span></dt>
        <dd>
          <div *ngIf="message.session">
            <a [routerLink]="['/session', message.session.id, 'view']">{{ message.session.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/message', message.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
