<body>
  <jhi-navbar></jhi-navbar>
  <div class="container-fluid d-flex justify-content-center align-items-center" [ngClass]="fsValue">
    <div class="col-9 px-4 py-5 mb-5">
      <h2 class="title fw-bold mb-5 text-center">Privacy Policy</h2>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">1.0 What data do we collect?</h4>
        <h5 class="section-content my-4">
          Our application collects the following data:<br />
          <ol>
            <li>Username</li>
            <li>Messages</li>
            <li>Files/attachments sent in the message</li>
            <li>Time spent on the application</li>
          </ol>
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">2.0 How do we collect your data?</h4>
        <h5 class="section-content my-4">
          We collect data directly when you:<br />
          <ol>
            <li>Create a new account to access the full features of our application.</li>
            <li>Use or view our website via your browser’s cookies.</li>
          </ol>
          Additionally, we may receive data indirectly by keeping track of the time spent on the application.
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">3.0 How will we use your data?</h4>
        <h5 class="section-content my-4">
          We collect your data to:<br />
          <ol>
            <li>Display your username to other users in your session.</li>
            <li>Keep track of your messages and attachments sent during the session.</li>
            <li>Provide and display analytics for your performance.</li>
          </ol>
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">4.0 How do we store your data?</h4>
        <h5 class="section-content my-4">
          All data collected through our website is securely stored on servers located within the <b>United Kingdom</b>, hosted by The
          University of Birmingham's Cloud Provider. We prioritize the privacy and protection of your data, adhering to the data storage
          regulations set forth by the United Kingdom and complying with the General Data Protection Regulation (GDPR).<br /><br />

          Our data security measures include encryption, strict access controls, regular audits, and compliance with UK regulations like
          GDPR. We only retain user data until May 2024 and securely delete it afterward, following industry best practices, such as
          overwriting data or using cryptographic erasure techniques, to ensure that the data is irrecoverable.
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">5.0 Marketing</h4>
        <h5 class="section-content my-4">We do not use your data for marketing purposes at this time.</h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">6.0 What are your data protection rights?</h4>
        <h5 class="section-content my-4">
          Our application would like to make sure you are fully aware of all of your data protection rights.<br />
          Every user is entitled to the following:
          <ol>
            <li>
              <b>The right to access</b> – You have the right to request our application for copies of your personal data. We may charge you
              a small fee for this service.
            </li>
            <li>
              <b>The right to rectification</b> – You have the right to request that our application correct any information you believe is
              inaccurate. You also have the right to request Our application to complete the information you believe is incomplete.
            </li>
            <li>
              <b>The right to erasure</b> – You have the right to request that our application erase your personal data, under certain
              conditions.
            </li>
            <li>
              <b>The right to restrict processing</b> – You have the right to request that our application restrict the processing of your
              personal data, under certain conditions.
            </li>
            <li>
              <b>The right to object to processing</b> – You have the right to object to our application’s processing of your personal data,
              under certain conditions.
            </li>
            <li>
              <b>The right to data portability</b> – You have the right to request that our application transfer the data that we have
              collected to another organization, or directly to you, under certain conditions.
            </li>
            <li>
              If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact
              any of our team members via email at:
              <ul>
                <li>BXR394@student.bham.ac.uk</li>
                <li>DXE351@student.bham.ac.uk</li>
                <li>YXC789@student.bham.ac.uk</li>
                <li>BXF253@student.bham.ac.uk</li>
                <li>MXT389@student.bham.ac.uk</li>
                <li>SXW1083@student.bham.ac.uk</li>
                <li>LXl916@student.bham.ac.uk</li>
              </ul>
            </li>
          </ol>
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">7.0 What are cookies?</h4>
        <h5 class="section-content my-4">
          Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When
          you visit our websites, we may collect information from you automatically through cookies or similar technology<br /><br />

          For further information, visit <a class="cookie-link" href="https://allaboutcookies.org">allaboutcookies.org</a>
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">8.0 How do we use cookies?</h4>
        <h5 class="section-content my-4">
          Our application uses cookies in a range of ways to improve your experience on our website, including:
          <ol>
            <li>Keeping you signed in</li>
            <li>Understanding how you use our website</li>
          </ol>
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">9.0 What types of cookies do we use?</h4>
        <h5 class="section-content my-4">
          Our application uses the functionalities cookies so that we recognize you on our website and remember your previously selected
          preferences. These could include what language you prefer and the location you are in. A mix of first-party and third-party
          cookies is used.
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">10.0 How to manage cookies?</h4>
        <h5 class="section-content my-4">
          You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However,
          in a few cases, some of our website features may not function as a result.
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">11.0 Privacy policies of other websites</h4>
        <h5 class="section-content my-4">
          Our application website contains links to other websites. Our privacy policy applies only to our website, so if you click on a
          link to another website, you should read their privacy policy.
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">12.0 Changes to our privacy policy</h4>
        <h5 class="section-content my-4">
          Our application keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was
          last updated on 28 February 2024.
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">13.0 How to contact us</h4>
        <h5 class="section-content my-4">
          If you have any questions about Our application’s privacy policy, the data we hold on you, or you would like to exercise one of
          your data protection rights, please do not hesitate to contact us. Email any of our team members at:
          <ul>
            <li>BXR394@student.bham.ac.uk</li>
            <li>DXE351@student.bham.ac.uk</li>
            <li>YXC789@student.bham.ac.uk</li>
            <li>BXF253@student.bham.ac.uk</li>
            <li>MXT389@student.bham.ac.uk</li>
            <li>SXW1083@student.bham.ac.uk</li>
            <li>LXl916@student.bham.ac.uk</li>
          </ul>
        </h5>
      </div>
      <div class="section-point col-auto mx-auto my-5">
        <h4 class="section-title">14.0 How to contact the appropriate authority</h4>
        <h5 class="section-content my-4">
          Should you wish to report a complaint or if you feel that our application has not addressed your concern in a satisfactory manner,
          you may contact The University of Birmingham’s computer science office.<br />
          Email: csoffice@contacts.bham.ac.uk<br />
          Address: The School of Computer Science, The University of Birmingham, Edgbaston, Birmingham, B15 2TT, United Kingdom
        </h5>
      </div>
    </div>
  </div>
</body>
<p class="disclaimer">You are accessing an experimental web application developed<br />by participants of the Team Project 2024 module</p>
