<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="reward">
      <h2 data-cy="rewardDetailsHeading"><span>Reward</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ reward.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ reward.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ reward.description }}</span>
        </dd>
        <dt><span>Reward Url</span></dt>
        <dd>
          <span>{{ reward.rewardUrl }}</span>
        </dd>
        <dt><span>Milestone</span></dt>
        <dd>
          <div *ngIf="reward.milestone">
            <a [routerLink]="['/milestone', reward.milestone.id, 'view']">{{ reward.milestone.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/reward', reward.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
