<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="praise">
      <h2 data-cy="praiseDetailsHeading"><span>Praise</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ praise.id }}</span>
        </dd>
        <dt><span>Praise Message</span></dt>
        <dd>
          <span>{{ praise.praiseMessage }}</span>
        </dd>
        <dt><span>Sender</span></dt>
        <dd>
          <div *ngIf="praise.sender">
            <a [routerLink]="['/application-user', praise.sender.id, 'view']">{{ praise.sender.id }}</a>
          </div>
        </dd>
        <dt><span>Receiver</span></dt>
        <dd>
          <div *ngIf="praise.receiver">
            <a [routerLink]="['/application-user', praise.receiver.id, 'view']">{{ praise.receiver.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/praise', praise.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
