<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-kanban-task-heading" data-cy="KanbanTaskCreateUpdateHeading">Create or edit a Kanban Task</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_taskStatus">Task Status</label>
          <select class="form-control" name="taskStatus" formControlName="taskStatus" id="field_taskStatus" data-cy="taskStatus">
            <option [ngValue]="null"></option>
            <option *ngFor="let taskStatus of taskStatusValues" [value]="taskStatus">taskStatus</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dueDate">Due Date</label>
          <div class="d-flex">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="datetime-local"
              class="form-control"
              name="dueDate"
              formControlName="dueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_author">Author</label>
          <select
            class="form-control"
            id="field_author"
            data-cy="author"
            name="author"
            formControlName="author"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="applicationUserOption" *ngFor="let applicationUserOption of applicationUsersSharedCollection">
              {{ applicationUserOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_labels">Labels</label>
          <select
            class="form-control"
            id="field_labels"
            data-cy="labels"
            multiple
            name="labels"
            formControlName="labels"
            [compareWith]="compareKanbanLabel"
          >
            <option [ngValue]="kanbanLabelOption" *ngFor="let kanbanLabelOption of kanbanLabelsSharedCollection">
              {{ kanbanLabelOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_kanbanBoard">Kanban Board</label>
          <select
            class="form-control"
            id="field_kanbanBoard"
            data-cy="kanbanBoard"
            name="kanbanBoard"
            formControlName="kanbanBoard"
            [compareWith]="compareKanbanBoard"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="kanbanBoardOption" *ngFor="let kanbanBoardOption of kanbanBoardsSharedCollection">
              {{ kanbanBoardOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
